 <div class="container" >   
    <div class = "row header_container"  >
        <div class="col-lg-offset-3 col-sm-offset-3 col-md-offset-3">
            <div class="row" >
                <div class="col-lg-12 col-md-12 col-sm-12 align_header">
                    <h1>CGP Learning</h1>
                    <p>Welcome to the world of infinite learning.</p>
                </div>
            </div>            
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-3 col-sm-offset-3 col-md-offset-3">
            <div class="Absolute-Center is-Responsive">
                <div class="col-sm-12 col-md-10 col-md-offset-1 login_container_box">
                    <div class="center_align">
                        <h1>
                                Login
                        </h1>
                    </div>
                    <form #loginForm = "ngForm">
                        <div class="row">
                            <h1>hello</h1>
                        </div><!-- email id -->
                        <div class="row">
                            <h1>hello</h1>
                        </div><!-- password id -->
                        <div class="row">
                            <h1>hello</h1>
                        </div><!-- submit id -->
                    </form>    
                </div>
            </div>
        </div>
    </div>
</div>